#data-items, #graphpset, #graph, #parental-set, #data {
    vertical-align: top;
}
#data-items, #graphpset, #parental-set {
    display: inline-block;
}
#data-items {
    width: 8rem;
    height: 35rem;
}
#data-item {
    padding-left: 5px;
}
#graphpset {
    width: calc(100% - 8rem - 20rem);
    height: 35rem;
}
#graph {
    height: 35rem;
}
#expdata, #parentplots {
    min-height: 20rem;
    font: 10px sans-serif;
}

#parental-set {
    font: 12px sans-serif;
    width: 20rem;
    max-height: 35rem;
    overflow-y:scroll;
}

.node {
    visibility: hidden;
}

#arrow {
    fill: crimson;
}

.link {
    fill: none;
    stroke: black;
    visibility: hidden;
}

.selected  { visibility: visible; }
.mouseover { visibility: visible; }

.node .mouseover {
    stroke: royalblue;
    stroke-width: 1pt;
    fill: white;
}

.node .mouseover.selected {
    fill: black;
    stroke-width: 2pt;
}

.link .mouseovertarget {
    stroke: royalblue;
}

.link .mouseoverparent {
    stroke: crimson;
}

.line {
  fill: none;
  stroke: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
    font-size: 12px;
    font-weight: bold
}
