#data-items, #graphpset, #graph, #parental-set, #data {
    vertical-align: top;
}
#data-items, #graphpset {
    display: inline-block;
}
#data-items {
    width: 8rem;
    height: 50rem;
}
#data-item {
    padding-left: 5px;
}
#graphpset {
    width: calc(100% - 8rem);
    height: 50rem;
}
#graph {
    height: 35rem;
}
#parental-set {
    max-height: 15rem;
    overflow-y:scroll;
}
#data {
    min-height: 20rem;
}

.node {
    visibility: hidden;
}

.link {
    marker-end: url(#end);
    fill: none;
    stroke: black;
    visibility: hidden;
}

.selected  { visibility: visible; }
.mouseover { visibility: visible; }

.node .mouseover {
    stroke: royalblue;
    stroke-width: 1pt;
    fill: white;
}

.node .mouseover.selected {
    fill: black;
    stroke-width: 2pt;
}

.link .mouseover {
    stroke: royalblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#data {
  font: 10px sans-serif;
}
