<!doctype html>
<html lang="en" ng-app="CsiResults">
  <head>
    <meta charset="utf-8">
    <title>CSI Results Analysis</title>
    <link rel="stylesheet" href="css/pure.css">
    <link rel="stylesheet" href="csi.css">
    
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/d3.js"></script>
    
    <script type="text/javascript" src="csi.js"></script>
    <script type="text/javascript" src="dream.json"></script>
  </head>
  <body>
    <div id="header">
      <div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuFile" class="pure-menu-link">File</a>
            <ul class="pure-menu-children">
	      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Export to Cytoscape</a></li>
            </ul>
          </li>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuFile" class="pure-menu-link">Mode</a>
            <ul class="pure-menu-children">
	      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Marginal Network</a></li>
	      <li class="pure-menu-item"><a href="#" class="pure-menu-link">MAP Network</a></li>
            </ul>
          </li>
	  <li class="pure-menu-item"><a href="#" class="pure-menu-link">Citation</a></li>
	</ul>
      </div>
    </div>

    <div id="main">
      <div id="data-items" ng-controller="ItemController">
	<div id="data-item" ng-repeat="item in items | orderBy : 'ord'">
	  <label ng-mouseenter="$emit('mouseenter',item)" ng-mouseleave="$emit('mouseleave',item)">
	    <input type="checkbox" ng-model="item.selected"
		   ng-change="$emit('itemchanged')"> {{item.name}}
	  </label>
	</div>
      </div><div id="graphpset"><div id="graph" ng-controller="NetworkController">
      </div></div><div id="parental-set" ng-controller="ParentalSetController">
	Minimum Weight: <input type="number" min="0.0", max="1.0" step="0.1" ng-model="weightthresh">
	<table class="pure-table">
	  <thead>
	    <tr>
	      <td>Item</td>
	      <td>Weight</td>
	      <td>Parental Set</td>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="pset in ParentalSets | ParentalSetFilter : weightthresh | orderBy : ['item.ord','-weight']">
	      <td>{{pset.item.name}}</td>
	      <td>{{pset.weight | weight}}</td>
	      <td>{{pset.parents | parents}}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
      <div id="parentplots" ng-controller="PlotTargetParents"></div></div>
    <div id="footer">
      CSI Analysis Footer
    </div>
  </body>
</html>
